<div class="row">
<%= form_for(resource, as: resource_name,
                       url: registration_path(resource_name),
                       html: { method: :put }) do |f| %>

  <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
  <%= devise_error_messages! %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Profile card</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
  <%= f.label :avatar %><br />
  <%= f.file_field :avatar %>  
        </div>

        <div class="row">
          <div class="form-group col-xs-6">
  <%= f.label :first_name %><br />
  <%= f.text_field :first_name, autofocus: true, class: "form-control" %>  
          </div>

          <div class="form-group col-xs-6">
  <%= f.label :last_name %><br />
  <%= f.text_field :last_name, class: "form-control" %>  
          </div>
        </div>
        <div class="form-group">
  <%= f.label :education %><br />
  <%= f.text_field :education, class: "form-control" %>  
        </div>

        <div class="form-group">
  <%= f.label :motto %><br />
  <%= f.text_area :motto, class: "form-control", rows: 5 %>  
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Profile Page</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
  <%= f.label :hometown %><br />
  <%= f.text_field :hometown, class: "form-control" %>  
        </div>

        <div class="form-group">
  <%= f.label :hobbies %><br />
  <%= f.text_field :hobbies, class: "form-control" %>  
        </div>

        <div class="form-group">
  <%= f.label :advice %><br />
  <%= f.text_field :advice, class: "form-control" %>  
        </div>

        <div class="form-group">
  <%= f.label :strengths %><br />
  <%= f.text_field :strengths, class: "form-control" %>  
        </div>

        <div class="form-group">
  <%= f.label :other_languages_spoken %><br />
  <%= f.text_field :other_languages_spoken, class: "form-control" %>  
        </div>

        <div class="form-group">
  <%= f.label :personal_message %><br />
  <%= f.text_area(:personal_message, class: "form-control",
                                     rows: 10, "data-provide" => "markdown") %>  
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Account</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
  <%= f.label :email %><br />
  <%= f.email_field :email, class: "form-control" %>
        </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

        <div class="form-group">
  <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="form-group">
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, autocomplete: "off",
                                               class: "form-control" %>
        </div>

        <div class="form-group">
  <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password, autocomplete: "off",
                                          class: "form-control" %>
        </div>

        <div class="form-group">
  <%= f.submit "Update", class: "btn btn-lg btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

  <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Cancel my account</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
<%= button_to "Cancel my account", registration_path(resource_name),
                                   class: "btn btn-lg btn-danger",
                                   data: { confirm: "Are you sure?" },
                                   method: :delete %>
        </div>
      </div>
    </div>
    <hr />
  </div>
</div>
