<div class="row">
<%= form_for(resource, as: resource_name,
                       url: registration_path(resource_name),
                       html: { method: :put }) do |f| %>

  <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
  <%= devise_error_messages! %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Profile card</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
  <%= f.label "Photo" %><br />
  <%= f.file_field :avatar %>  
        </div>

        <div class="row">
          <div class="form-group col-xs-6">
  <%= f.label :first_name %><br />
  <%= f.text_field :first_name, autofocus: true, class: "form-control" %>  
          </div>
          <div class="form-group col-xs-6">
  <%= f.label :last_name %><br />
  <%= f.text_field :last_name, class: "form-control" %>  
          </div>
        </div>

        <div class="form-group">
  <%= f.label :education %><br />
  <%= f.text_area :education, class: "form-control", placeholder: "Bachelor of Arts (Languages), Sydney University\nMaster of Education, Harvard University" %>  
        </div>

        <div class="form-group">
  <%= f.label :motto %><br />
  <%= f.text_area :motto, class: "form-control", rows: 2, placeholder: "Assiduus usus uni rei deditus et ingenium et artem saepe vincit." %>  
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Profile page</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
    <%= f.label :hometown %><br />
    <%= f.text_field :hometown, class: "form-control", placeholder: "Geneva, Switzerland" %>  
        </div>

        <div class="form-group">
    <%= f.label :hobbies %><br />
    <%= f.text_field :hobbies, class: "form-control", placeholder: "French cooking, tapestry, wakeboarding" %>  
        </div>

        <div class="form-group">
    <%= f.label :advice %><br />
    <%= f.text_area :advice, class: "form-control", rows: 5, placeholder: "Study while others are sleeping; work while others are loafing; prepare while others are playing; and dream while others are wishing.\n–William Arthur Ward" %>  
        </div>

        <div class="form-group">
    <%= f.label :strengths %><br />
    <%= f.text_field :strengths, class: "form-control", placeholder: "Casual conversation, academic writing" %>  
        </div>

        <div class="form-group">
    <%= f.label :other_languages_spoken %><br />
    <%= f.text_field :other_languages_spoken, class: "form-control", placeholder: "Latin, Esperanto, Pirate" %>  
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <div class="col-xs-6">
      <%= f.submit "Update", class: "btn btn-lg btn-primary" %>
    <% end %>
        </div>
        <div class="col-xs-6">
    <%= button_to "Cancel my account", registration_path(resource_name),
                                       class: "btn btn-danger pull-right",
                                       data: { confirm: "Are you sure?" },
                                       method: :delete %>
        </div>
      </div>
    </div>
  </div>
</div>
