<div class="row">
      <div class="col-lg-offset-1 col-lg-10 col-xs-12">
<h1>Teachers</h1>
<% @teachers.each do |teacher| %>
  <% if teacher.first_name? or teacher.last_name? %>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-sm-4 col-xs-12">
        <%= image_tag teacher.avatar.url(:square), class: "img-responsive center-block" %>
      </div>
      <div class="col-sm-8 col-xs-12">
        <h2><%= teacher.first_name %> <%= teacher.last_name %></h2>
        <% if teacher.education? %>
          <p><%= teacher.education %></p>
        <% end %>
        <% if teacher.motto? %>
          <blockquote><%= teacher.motto %></blockquote>
        <% end %>
        <p>
          <%= link_to "Profile", teacher_url(id: teacher.id), class: "btn btn-primary" %>
          <%= link_to "Book", "#", class: "btn btn-default" %>
        </p>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
  </div>
</div>
