<header class="navbar navbar-default">
  <div class="container">
    <nav> 
      <div class="navbar-header">
        <%= link_to image_tag("eoc-logo.png", alt: "English Over Coffee"), root_path, id: "logo" %>
      </div>

      <ul class="nav navbar-nav">
        <li><%= link_to "Teachers", teachers_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
<% if signed_in? %>
  <% if teacher_signed_in? %>
        <li>
          <p class="navbar-text">
    <% if (current_teacher.first_name && current_teacher.last_name) %>
            <%= "#{current_teacher.first_name} #{current_teacher.last_name}" %>
    <% else %>
            Signed in as a teacher
    <% end %>
          </p>
        </li>
        <li class="navbar-avatar"><%= image_tag(current_teacher.avatar.url(:thumb)) %></li>
        <li><%= link_to "My Students", '#' %></li>
        <li><%= link_to "Edit profile", edit_teacher_registration_path %></li>
        <li><%= link_to "Log out", destroy_teacher_session_path, :method => :delete %></li>
  <% elsif student_signed_in? %>
        <li>
          <p class="navbar-text">
    <% if (current_student.first_name && current_student.last_name) %>
            <%= "#{current_student.first_name} #{current_student.last_name}" %>
    <% else %>
            Signed in as a student
    <% end %>
          </p>
        </li>
        <li><%= link_to "Edit profile", edit_student_registration_path %></li>
        <li><%= link_to "Log out", destroy_student_session_path, :method => :delete %></li>
  <% end %>
<% else %>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sign up <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Students", new_student_registration_path, :id => "student-sign-up" %></li>
            <li><%= link_to "Teachers", new_teacher_registration_path, :id => "teacher-sign-up" %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sign in <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Students",  new_student_session_path %></li>
            <li><%= link_to "Teachers",  new_teacher_session_path %></li>
          </ul>
        </li>
<% end %>
      </ul>
    </nav>
  </div>
</header>
